/* Dark Styling */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Adjust project cards for Dark */
body.dark-mode .tiles article {
    background: #222;
    border: 1px solid #444;
}

/* Footer Dark */
body.dark-mode #footer {
    background: #181818;
}

/* Adjust for Small Screens */
@media screen and (max-width: 768px) {
    #theme-toggle {
        top: 10px; /* Reduce space for smaller screens */
        right: 10px;
        padding: 8px 12px; /* Slightly smaller button */
        font-size: 8px;
    }
}